* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color: grey;
}

h1{
    color: white;
    margin: 0;
    padding: 50px;
    font-size: 4em;
}

.grid-container {
   display: grid;
   grid-template-columns: 25% 75%;
  }


  @media only screen and (max-width: 651px) {
          .grid-container{
              display: flex;
          }}

  .flex-column-left{

    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  .flex-column-right{
      display: flex;
      flex-direction: column;
     
  }

  h3{
      margin: 0;
      font-size: 1.5em;
  }

  input{
    border: 1.5px solid rgb(175, 175, 211);
    border-radius: 4px;
  }

  button{
      border-radius: 4px;
      background-color: rgb(138, 138, 192);
  }

  button:hover{
      background-color: rgba(138, 138, 192, 0.432);
  }

  form{
      padding: 10px 0 10px 0;
  }

  .cityBox{
      width: 95%;
      border: 1.6px solid rgb(175, 175, 211);
      margin-top: -1.7px;
      margin-bottom: -1.7px;
    border-radius: 2px; 
    padding: 5px;
    font-weight: bold;
    
  }

  .right-side-box{
      border: 1.6px solid rgb(175, 175, 211);
      margin: 15px;
      display: flex;
      flex-direction: column;
  }

  .five-week{
    border: 1.6px solid rgb(175, 175, 211);
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  
 #title-box {
      display: flex;
      flex-direction: row;
      padding-left: 15px;
  }

  h2{
      font-size: 1.75em;
  }

  .currentDayPTag{
      margin: 0 0 15px 15px;
      font-weight: 500;
      font-size: 1.25em;  
    }
  
    .fiveDayPTag{
        margin: 0 0 15px 15px;
        font-weight: 500;
        
      }

.blue-box{
    background-color: rgb(178, 178, 236);
    color: white;
    margin: 15px;
    padding-top: 15px;
    font-size: 1.1em;
    min-width: 175px;
}